@{
  Layout = "_Layout";
}

<h1>Welcome to the Doctors Office!</h1>

@Html.ActionLink("Doctors", "Index", "Doctors", new {}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Patients", "Index", "Patients", new {}, new { @class = "btn btn-outline-primary" })